:root{
    background: linear-gradient(
    to right,
    #fffaf5 0%,
    #fffaf5 62.5%,
    #6b7c66 62.5%,
    #6b7c66 100%
  );
}

.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.flex-col{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1{
  font-size: 80px;
}

p{
  margin: 0 20px 0px 0px;
}

.white{
  color: white;
}

.green{
  color: #6b7c66;
}
.App-header {
  min-height: 10vh;
   font-size: calc(10px + 2vmin);

}


#input-container{
  height: 40px;
  border-bottom: 1px solid white;
  margin: 20px;

}

input{
  all: unset;
  width: 150px;
  margin: 20px;
}

input::placeholder{
  color: white;
}



#content-text{
  width: 500px;
  align-items: start;
}

.vertical-text{
  writing-mode: vertical-lr;
  text-orientation: mixed;
}

hr{
  height: 50px;
}