:root{
  --gradient : linear-gradient(90deg, rgba(254,124,122,1) 0%, rgba(252,159,74,1) 19%, rgba(244,68,59,1) 35%, rgba(203,101,148,1) 51%, rgba(114,70,169,1) 69%, rgba(102,96,243,1) 88%, rgba(46,46,110,1) 100%);
}

.App {
  text-align: center;
  background-color: black;
  color:white;
}

h1{
  font-size: 80px;
}

h2 {
  font-size: 50px;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px;
  font-size: calc(10px + 2vmin);
}

#header-browse{
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

.header-content{
  margin: 30px 10px;
}

#page-content{
  margin: 50px 200px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

#content-left{
  width: 600px;
  height: 600px;
  text-align: left;
}

#content-numbers{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

#content-right{
  background-image: var(--gradient);
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 400px;
}

#nft-showcase{
  border-radius: 20px;
  height: 200px;
  background-color: #FFFFFF80;
}
#page-icons {
  margin:50px 200px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

#page-browse{
  margin:50px 200px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

button::after{

}